.textbox {
    overflow: hidden;
}

#title{
    width: 60%;
}

#externals {
    width: 60%;
    height: 100px;
    overflow: scroll;
}

#postcontent {
    width: 60%;
    height: 400px;
    overflow: scroll;
}
#tags {
    width: 60%;
}
.spacer {
    min-height: 10px;
}

a:visited{
    color: blue;
}

table{
    width: 50%;
}

td{
    padding: 1.5%;
}
