#columnleft{
    float: left;
    width: 79%
}

#columnright{
    width: fixed;
    float: left;
    margin-left: 3%;
    width:18%;
}

a.bloglink{
    color: #0066ee; 
    text-decoration: none;
}

a.bloglink:hover{
    text-decoration: underline;
}

#columnright li{
    margin: 10% 0;
}
#columnleft p{
    margin-bottom: 3%;
}
#columnleft img{
    margin-bottom: 5%;
}

.postlist{
    margin-bottom: 2%;
}

#taglist {
    display: inline-block;
    margin-bottom: 3%;
}

span.tag a{
    text-decoration: none;
    padding: 2px;
    color: white; 
    font-size: 1.1vw;
    font-weight: bold;
}

span.tag:hover{
    background-color: rgb(75, 125, 210);
}

span.tag{
    background-color: rgb(108, 153, 228);
    height: 10px;
    margin-right: 6px;
    border: 1px solid rgb(0, 198, 255);
}

