#cpanel div
{
    float: left;
    margin-right: 20px;
}
#intvLists div
{
    float: left;
    width: auto;
}
#maxNote, #minNote{font-size: 90%;}
.noteName
{
    display: inline-block;
    min-width: 20px;
}
#intvLists p
{
    margin-top: 7px;
    margin-bottom: 7px;
    //margin-top: 0;
    height: 20px;
}
p:first-child
{
    margin-top: 0;
}
#time
{
    float: left;
}
#time input
{
    display: block;
    margin-left: 0;
    margin-bottom:0;
}
#time button
{
    margin-right: 10px;
}
#time p
{
    margin-top: 18px;
    margin-left: 4px;
    width: auto;
}
#duration, #between
{
    width: 120px;
    margin: 8px 0 20px 0;
    height: 4px;
    background:url("../img/blueslidehorz.png");
    background-size: 100% 100%;
    border-color: #9999FF;
}
#duration a, #between a
{
    top: -7px;
    width: 10px;
    height: 16px;
    background-image: url("../img/bluebhorz.png");
    background-size: 100% 100%;
    border-color: #BBBBFF;
}
#pitch-range
{
    width: 4px;
    height: 200px;
    //background: #CCCCCC;
    background:url("../img/blueslidevert.png");
    background-size: 100% 100%;
    border-color: #9999FF;
}
#pitch-range a
{
    left: -7px;
    width: 16px;
    height: 10px;
    background-image: url("../img/bluebvert.png");
    background-size: 100% 100%;
    //border: none;
    border-color: #BBBBFF;
}
#pitch-range a.ui-slider-handle.ui-state-hover
{
    background-image: url("../img/bluebvert-hover.png");
    border-color: #9999DD;
}
div.ui-slider-range.ui-widget-header
{
    display: none;
}


