{% extends "blog.html" %}
{% block post %}
<h2>Neo4j's Cypher and Shortest Paths</h2>
<p>
When I originally set out to make my <a href="/synonyms">synonym path</a> webapp, 
graph databases were something I knew little about, though I 
assumed they existed.  I was already familiar with tabular 
databases like MySQL, and recognized that they aren't ideal for
representing graphs.  It didn't take long to find out that Neo4j
was the go-to graph database.
</p>
<p>
Since this is a Flask site, and since I was in an overall Python
phase at the time, I didn't initially consider an alternative
to using a Python API to Neo4j.  The main two options were 
<a href="https://pypi.python.org/pypi/neo4jrestclient/">Neo4j Python REST Client</a> and 
<a href="http://nigelsmall.com/py2neo/1.6/">Py2neo</a>.  I tried out both.  I was able to create
and query a graph easily enough, but was unable to find anything
in the respective docs about shortest paths, which is what I needed
in order to find shortest paths between two synonym nodes in my thesaurus 
graph.
</p>
<p>So the next step was to learn Cypher, Neo4j's counterpart to SQL. Like
most database API's, Py2neo supports writing your own queries directly.  
Fortunately, Cypher did have a built in shortestPath feature, with the option
to limit the length.  For instance, my Python code to find a synonym path
shorter than 100 looked like this:


<pre class="prettyprint codebox">

def shortest_path_neo(a, b):
    a = g.conn.get_indexed_node("worddex", "word", a)
    b = g.conn.get_indexed_node("worddex", "word", b)
    if not a and b: return None
    #the important part
    query_string = "START beginning=node(%d), end=node(%d) 
                    MATCH p = shortestPath(beginning-[*..100]-end) 
                    RETURN p" % (a._id, b._id)
    result = neo4j.CypherQuery(g.conn, query_string).execute()
    if not len(result): return None
    p = result[0].p
    ret = []
    return [node["word"] for node in p.nodes]
</pre>

<p>
This performed well and I built the initial version of the webapp upon it. However, I soon got the idea of letting users block certain words from being included in paths--essentially find shortest paths in a subgraph consisting of all words except for a few they choose to leave out.   Since so few people are actually using this webapp, it probably would have been a decent practical solution to simply remove the given words from the database, perform the query,  and then add them back in.  But clearly that's a bad solution from a theoretical standpoint, because if there were ever lots of users at the same time, it could potentially lead to inconsistent, incorrect behavior.
</p>

<p>
Unfortunately, hours of searching eventually revealed that Cypher does notyet support shortest path queries with any kind of constraint on the nodes in the path.  But since the webapp does not involve any writes to the thesaurus data, and since it's no more than a MB or two in size, all I really needed was a data structure sitting in memory that could be shared among threads.  To balance speed of code with the availability of HTTP server libraries, I ended up going with Java and Apache Tomcat.
</p>

<p>
I implemented a standard link-based graph, with a trie as an index into the nodes (though a HashMap would have worked just as well).  Visited nodes and nodes for words the user wants to avoid are added to a HashSet for quick containment checks, since it must be done at every iteration in the BFS. Here is <b>Wordnode.shortestPath</b>: 
</p>

<pre class="prettyprint codebox">
public LinkedList&lt;String&gt; shortestPath(Wordnode dest, int limit, HashSet&lt;Wordnode&gt; avoids)
{
    HashSet&lt;Wordnode&gt; visited = new HashSet&lt;&gt;();
    HashMap&lt;Wordnode, Wordnode&gt; previous = new HashMap&lt;&gt;();
    LinkedList&lt;Wordnode&gt; q = new LinkedList&lt;Wordnode&gt;();
    previous.put(this, null);
    if(!avoids.contains(this))
        q.add(this);
    Wordnode curr = null;
    boolean found = false;
    while(!q.isEmpty() && !found)
    {
        curr = q.removeLast();
        visited.add(curr);
        if(curr == dest)
            found = true;
        else
        {
            for(Wordnode n: curr.neighbors)
            {
                if(!visited.contains(n) && !avoids.contains(n))
                {
                    q.addFirst(n);
                    if(!previous.containsKey(n))
                        previous.put(n, curr);
                }
            }
        }
    }
    if(!found)
        return null;
    LinkedList&lt;String&gt; ret = new LinkedList&lt;&gt;();
    while(curr != null)
    {
        ret.addFirst(curr.word);
        curr = previous.get(curr);
    }
    return ret;
}
</pre>
<p>
For now, this is a fine solution.  With over 20 thousand nodes in the graph, worst case (non-existant path) queries usually take about a tenth of a second on the server, which is actually a bit less than what I recall the Neo4j implementation taking.  With that said, I have since discovered
a couple potential alternative solutions to explore down the road.  One would be to learn Neo4j's official Traversal Framework Java API.  The other would be to checkout Datomic, an idea I got from <a href="http://hashrocket.com/blog/posts/using-datomic-as-a-graph-database">this article</a> on using Datomic as a graph database for a shortest path webapp quite similar to mine.
</p>
{% endblock %}
