
{% extends "template.html" %}
    {% block external %}

        {% block blogexternal %}
        {% endblock %}
        {% if post %}
            {{ post.external|safe }}
        {% endif %}
        <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/tomorrow.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
    {% endblock %}
    {% block title %}
        blog
    {% endblock %}
{% block content %}
    <h1 class="no-title">&nbsp;</h1>

    <div id="columnleft">
        <div id="blog">
        {% block main_content %}
        {% endblock %}
        </div>
    </div>
    <div id="columnright">
        {% block resource_list %}
        {% endblock %}
    </div>
    <div id="preload-01"></div><div id="preload-02"></div>
{% endblock %}
