
{% extends "template.html" %}
    {% block external %}

        {% block blogexternal %}
        {% endblock %}
        <link href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/solarized.css') }}" rel="stylesheet">
    {% endblock %}
    {% block title %}
        blog
    {% endblock %}
{% block content %}
    <h1 class="no-title">&nbsp;</h1>

    <div id="columnleft">
        <div id="blog">
        {% block post %}
        {% endblock %}
        </div>
    </div>
    <div id="columnright">
        <h3>Index</h3>
        <ul>
            <li><a href="/blog/8-1-14">August 1: didyoumeanthis</a></li>
            <li><a href="/blog/7-26-14">July 26: MySQL 5.6 partition selection feature as alternative to 'LIMIT offset, count'</a></li>
            <li><a href="/blog/7-20-14">July 20: Storing boolean information in individual bits in C</a></li>
            <li><a href="/blog/7-15-14">July 15: A pure CSS solution to flexible multi-column layouts with background colors </a></li>
            <li><a href="/blog/7-5-14">July 5: Neo4j's Cypher and shortest paths</a></li>
        </ul>
    </div>
    <div id="preload-01"></div><div id="preload-02"></div>
{% endblock %}
