{% extends "template.html" %}
    {% block external %}
        <link href="{{ url_for('static', filename='css/ear.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    {% endblock %}
{% block content %}
    <h1 class="title">Polyphonic Eartrainer</h1>
    <div id="wait"></div>
    <p id="message"></p>
    <div id='cpanel'>
        <div id='time' class='col'>
            <button class="blueButton" id="start">start</button>
            <button class="blueButton" id="stop">stop</button>
            <p class="label">note duration:</p>
            <div id="duration" class="slider"></div>
            <p class="label">silence between:</p>
            <div id="between" class="slider"></div>
            <p class="label">show answer:</p>
            <div id="answerWait" class="slider"></div>

        </div>
        <div id='intvLists' class='col'>
            <div id='intervalLabels'>
                <p class="label">&nbsp;</p>
                {% for intv in intervs|dictsort %}
                    <p><a class="stayBlue" href="">{{ intv[1] }}</a></p>
                {% endfor %}
            </div>
            <div id='lowerVoiceIntervals'>
                <p class="label">bot:</p>
                {% for intv in intervs|dictsort %}
                    <p><input type="checkbox" checked="" value={{ intv[0] }}></p>
                {% endfor %}
            </div>
            <div id='upperVoiceIntervals'>
                <p class="label">top:</p>
                {% for intv in intervs|dictsort %}
                    <p><input type="checkbox" checked="" value={{ intv[0] }}></p>
                {% endfor %}
            </div>
            <div id='minSep'>
                <p class="label">sep:</p>
                {% for intv in intervs|dictsort %}
                    <p><input type="checkbox" checked="" value={{ intv[0] }}></p>
                {% endfor %}
            </div>
        </div>
        <div id='bounds' class='col'>
            <div id="pitch-range" class="slider"></div>
            <div id="minNote"></div>
            <div id="minOct"></div>
            <div id="maxNote"></div>
            <div id="maxOct"></div>
        </div>
    </div>
    <div id="instructions">
        <h1>how</h1>
        <p>Works best in Chrome</p>
        <p>When you click <b> start </b>, a sequence of simultaneous pairs of notes are played until you click <b>stop</b>.  Each pair lasts for the time specified by the <b>note duration</b> slider, and the silence between sequential pairs are separated by <b>silence between</b>.</p>
        <p> The interval between the bottom notes of successive pairs will be randomly selected from those checked under <b>bot</b>.  Likewise for <b>top</b>.  The interval specified under <b>sep</b> is the minimum interval between the two notes of each simultaneously-sounding pair. For example, if <b>perfect 5th</b> is selected, then each pair will consist of two notes that are at least a perfect 5th apart.</p>

        <p>The vertical <b>range</b> slider specifies the pitch range to which all notes played are restricted</p>

        <h1>why</h1>
        <p>If you hear, out of context, the melodic sequence <b>E, C</b>, there's a good chance that you will automatically aurally tonicize <b>C</b>, perhaps before you recognize that the interval is a descending major third.  This sort of tonicization may be a crutch in your ability to recognize intervals. If you have an additional voice simultaneously moving chromatically (within some specifiable confines), it often prevents an automatic tonicization and forces you to recognize the interval in a more pure, context-independent way.</p> 
        <p>So, for example, if you wanted to improve your ability to distinguish between major and minor 3rds without depending on a tonal context, you might select major and minor 3rds under <b>bot</b>, and select everything under <b>top</b> so as to 'obscure' the thirds a bit.</p>
        <h1>who</h1>
        <p>I think the best free eartrainer around is <a href="http://www.iwasdoingallright.com/tools/ear_training/main/">iwasdoingallright.com</a>. I'm trying to create functionality that it doesn't have, largely motivated by my own eartraining goals.</p>
        <p>This ear trainer is powered by the young but very helpful library <a href="http://mudcu.be/midi-js/">MIDI.js</a></p>
    </div>
{% endblock %}
