<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        {% for d in dependencies %}
            <script src="{{ url_for('static', filename=d) }}"></script>
        {% endfor %}
        <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        {% block external %}
        {% endblock %}
    <script type="text/javascript">
        window.onload = function() {
            visual.resize();
            {% for func in onloads %}
                {{ func }}();
            {% endfor %}
        };
    </script>
    </head>
    <body>
        <div id="middle">
        <div id="content">
            <nav>
                <ul>
                    <li><a href="/music">music</a></li>
                    <li><a href="/eartrainer">ear trainer</a></li>
                    <li><a href="/synonymgraph">synonyms</a></li>
                    <li><a href="">digital art</a></li>
                    <li><a href="">resume</a></li>
                </ul>
            </nav>
            {% block content %}
            {% endblock %}
        </div>
        </div>
    </body>
</html> 
